/* ======= PARA TODOS========== */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{font-family: 'Carter One', cursive;
    }

/* ===========HEADER================= */

.logo{
    width: 70px;
}

.fondoHeader{
    background-color: #7fffd4;
}


.menu_item a {
    color: #32B6F1;
    text-decoration: none;
}

.menu_item.active a,
.menu_item a:hover {
    text-decoration: underline;
}

/* =============BOTONES===================== */

.botonL{
   background-color: #fffaac;
    color: black;
}

.botonL:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.carro{
    background-color: #7fffd4;
    color: black;
    
}

.carro:hover{
    background-color: red;
    color: white;
    border: 1px solid black;

}

/* =============== DIVISIÓN ================ */

.division{
    height: 40px;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
}

.division:hover {
    height: 40px;
    background-color: #fffaac;        
    }

/* ================ Tarjeta borde===================  */

.tarjeta{
/*     border: 1px red solid; */
    padding: 5px;
    box-shadow: 15px 15px 20px #fffaac;        

}

/* =============== LOGO FOOTER=============== */

.logo_footer{
    width: 100px;

}

/* .abajo{ */
/*     margin-top: 10px; */
/* } */

footer{
   min-height: 200px;
   background-color: aquamarine;
}

.cuadro{
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px #ffffff;

}

.iconos_redes a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;
    margin-bottom: 10px;
    border: 2px solid #32B6F1;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos_redes i{
    color:#32B6F1;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos_redes a:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    }

.iconos_redes a:hover i{
    color: #2FA83A;}


/* =================================NOSOTROS /Equipo =============================*/

.equipo{
padding: 40px 40px 80px 40px;

}

/* ==================================CONTÁCTANOS====================================== */

.foto_contacto{
  width: 200px;
  margin-top: -8rem;
 
} 
#contenedor-formulario{ 
    border: #32B6F1 5px solid;
    padding: 20px;
   }

.b_contac{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border-radius: 4px;
    border:none;
    color: white;
  }

.b_contac:hover{
    cursor:pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.b_contac:active{
    transform:translateY(3px);
}

