/* ======= PARA TODOS========== */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{font-family: 'Carter One', cursive;
    }

/* ===========HEADER================= */

.logo{
    width: 70px;
}

.fondoHeader{
    background-color: #7fffd4;
}


.menu_item a {
    color: black;
    text-decoration: none;
}

.menu_item.active a,
.menu_item a:hover {
    text-decoration: underline;
}

.menu_item 


/* =============BOTONES===================== */

.botonL{
   background-color: black !important ;
    color: black;
}

.botonL:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.carro{
    background-color: #7fffd4;
    color: black;
    
}

.carro:hover{
    background-color: red;
    color: white;
    border: 1px solid black;

}

/* =============== DIVISIÓN ================ */

.division{
    height: 40px;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
}

.division:hover {
    height: 40px;
    background-color: #fffaac;        
    }

    /* ================ Tarjeta borde===================  */

.tarjeta{
/*     border: 1px red solid; */
    padding: 5px;
    box-shadow: 15px 15px 20px #fffaac;        

}

/* =============== LOGO FOOTER=============== */

.logo_footer{
    width: 100px;

}

.abajo{
    margin-top: 10px;
}

